<%- include("header") -%>
<link rel="stylesheet" href="/css/help.css">
<body>
    <div class="container">
		<h1>Custom Todo List Help</h1>
		<p>To create your own custom todo list, simply append <code>/q/{custom todo list name}</code> to the endpoint.</p>
		<p>For example, if you want to create a work todo list, the URL would be <code>localhost:3000/q/work</code>.</p>
		<p>You can replace <code>work</code> with any name you want for your custom todo list.</p>
		<p>Once you have created your custom todo list, you can start adding items to it and managing your tasks.</p>
        <p>Delete any tak by checking the task checkbox</p>
        <p>Add task by typing into the text field and pressing the plus (➕) button</p>
		<p><a href="/">Back to Homepage</a></p>
	</div>
</body>

<%- include("footer") -%>
    </html>