<%- include("header") -%>

<link rel="stylesheet" href="/css/sponsor.css">
<body>
	<h1>Support Us</h1>
	<div class="container">
		<div class="wallet">
			<h2>Bitcoin</h2>
			<img src="/images/btc.jpeg" alt="BTC QR Code">
			<p>bc1qexcrg5pcpnwtkmnpa2r3grsvrlsh6wf9u5v5zy</p>
		</div>
		<div class="wallet">
			<h2>Ethereum</h2>
			<img src="/images/eth.jpeg" alt="ETH QR Code">
			<p>0xfCfEc733300A6690B08Bbe6C5159A8cD2cD39A93</p>
		</div>
		<div class="wallet">
			<h2>USDT (TRC20)</h2>
			<img src="/images/usdt.jpeg" alt="USDT QR Code">
			<p>TN4Ve1cXNfpbrxSQ7BbMN565umaBgLUaok</p>
		</div>
        <div class="wallet">
			<h2>BNB (BEP20)</h2>
			<img src="/images/bnb.jpeg" alt="BNB QR Code">
			<p>0xfCfEc733300A6690B08Bbe6C5159A8cD2cD39A93</p>
		</div>
	</div>
</body>

<%- include("footer") -%>
    </html>